<div class="mt-4">
    <form method="" action="">
        <div class="mb-3">
            <label for="" class="form-label">Email address</label>
            <input type="input" class="form-control" name="q">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>     
</div>